body {
    font-size: 14px;
}

#infolist ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#infolist ul li {
  padding-top: 10px;
} 

.software li {
    padding-bottom: 8px;
}

.papers ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.papers ul li {
  padding-top: 8px;
  padding-bottom: 8px;
} 

.svg-icon{
  width:20px;
  height:20px;
  display:inline-block;
  margin: 5px;
}
.fa {
  margin-left: 5px;
}